.pagination {
    padding: 20px 0 15px 0;
    text-align: center;
}

.pagination ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
}

.pagination ul>li>span, .pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
    color: #999;
    background-color: transparent;
    cursor: default;
}

.pagination ul>li>a, .pagination ul>li>span {
    margin: 0 3px;
    float: left;
    padding: 4px 12px 3px;
    opacity: 0.88;
    border-radius: 2px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ddd;
    color: #666;
}

.pagination ul>li {
    display: inline;
}

li {
    line-height: 20px;
}

.pagination ul>li>span, .pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
    color: #999;
    background-color: transparent;
    cursor: default;
}

.pagination ul>li>a, .pagination ul>li>span {
    margin: 0 3px;
    float: left;
    padding: 4px 12px 3px;
    opacity: 0.88;
    border-radius: 2px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ddd;
    color: #666;
}

.pagination ul>.active>a, .pagination ul>.active>span {
    cursor: default;
}

.pagination ul>.active>a, .pagination ul>.active>span {
    background-color: #CD1F25;
    color: #fff;
}